<p id="notice"><%= notice %></p>

<h1>Build Yourself</h1>
<%= link_to 'Add New Week', new_week_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Week of</td>
    </tr>
  </thead>

  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <td><%= link_to week.start_date, week %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


