
        <div class="col-md-7 col-md-offset-1">
          <h4>Weekly Activity Tracking</h4>
          <hr>
          <div class="table-responsive">          
          <table class="table">
            <thead>
              <tr>
                <th>Activity</th>
                <th>Goal</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thur</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Meditate</td>
                <td>5</td>
                <td >
                  <button type="button" class="btn btn-success btn-sm  active" data-toggle="button" aria-pressed="false" autocomplete="off">
                   <span class="fa fa-check" aria-hidden="true"></span>
                  </button>
               </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <span class="fa fa-check" aria-hidden="true"></span>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <span class="fa fa-check" aria-hidden="true"></span>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <span class="fa fa-check" aria-hidden="true"></span>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <span class="fa fa-check" aria-hidden="true"></span>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <span class="fa fa-check" aria-hidden="true"></span>
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <span class="fa fa-check" aria-hidden="true"></span>
                  </button>
                </td>
                <td>
                <span class="label label-warning">  1</span>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>